[submodule "compositions/F19/Gloop/glooper"]
	path = compositions/F19/Gloop/glooper
	url = https://github.com/ijc8/glooper
[submodule "compositions/S20/cursors"]
	path = compositions/S20/cursors
	url = https://github.com/ijc8/cursors.git
[submodule "compositions/S20/Telematic/cursors"]
	path = compositions/S20/Telematic/cursors
	url = https://github.com/ijc8/cursors.git
